rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        request.auth.uid in [
          "zwxHk4WhvQaRN4UihNx4yUrPtLM2",
          "IGA8s0cvxSNZldPPWvA2quKmAo32"
        ];
    }

    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /siteContent/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
