rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        request.auth.uid in [
          "zwxHk4WhvQaRN4UihNx4yUrPtLM2",
          "IGA8s0cvxSNZldPPWvA2quKmAo32"
        ];
    }

    match /products/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /site/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
